<h2>Currency Rates</h2>


<label>Choose your currency</label>
<select ng-model="selectedCurrency">
    <option ng-repeat="(countryCode,currency) in currencies"
            value="{{countryCode}}"
            ng-selected="selectedCurrency == countryCode">
        {{currency.title}} - [{{currency.countryCode}}]
    </option>
</select>
<br />
<br />

<table cellspacing="0" border="0" id="currency-table">
    <tr>
        <th>Currency</th>
        <th>Code</th>
        <th>Intl Money Transfer (IMT)</th>
        <th>Cash, Travel Money Card &amp; Travellers Chqs</th>
        <th>Foreign Cheques</th>
        <th>Intl Money Transfer (IMT) &amp; Drafts</th>
        <th>Cash, Travel Money Card &amp; Travellers Chqs</th>
    </tr>
    <tr ng-repeat="currency in currencies[selectedCurrency]['currencies']">
        <td>
            {{currency.currencyName}}
        </td>
        <td>
            {{currency.currencyTitle}}
        </td>
        <td>
            {{currency.bbCashTChqs}}
        </td>
        <td>
            {{currency.bbForeignCheques}}
        </td>
        <td>
            {{currency.bbImt}}
        </td>
        <td>
            {{currency.bsCashTmcTChqs}}
        </td>
        <td>
            {{currency.bsImt}}
        </td>

    </tr>
</table>
